@import url("https://fonts.googleapis.com/css2?family=Anton:wght@400;700&family=Inter:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply font-sans bg-fur-accent-bone;
  }


  h1 {
    @apply text-h1 md:text-h1-md font-anton;
  }

  h2 {
    @apply text-h2 md:text-h2-md font-anton;
  }

  h3 {
    @apply text-h3 md:text-h3-md font-anton;
  }

  .p-small {
    @apply text-p-small;
  }

  .p-medium {
    @apply text-p-medium md:text-p-medium-md;
  }

  .p-big {
    @apply text-p-big md:text-p-big-md;
  }
}

/* Generel animation */
.scroll-fade {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-fade.active {
  opacity: 1;
  transform: translateY(0);
}
